<div class="container">
	<div class="row">
		<div class="col-xs-10">
			<table class="table table-responsive table-striped table-bordered table-hover">
				<thead class="thead-dark">
					<tr>
						<th>id</th>
						<th>uid</th>
						<th>blend_name</th>
						<th>origin</th>
						<th>variety</th>
						<th>notes</th>
						<th>intensifier</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let coffee of (coffees$ | async); let i = index">
						<td>{{coffee.id}}</td>
						<td>{{coffee.uid}}</td>
						<td>{{coffee.blend_name}}</td>
						<td>{{coffee.origin}}</td>
						<td>{{coffee.variety}}</td>
						<td>{{coffee.notes}}</td>
						<td>{{coffee.intensifier}}</td>
					</tr>
				</tbody>
			</table>
			<hr>
			
		</div>
	</div>
</div>

<!--*ngFor="let coffee of (coffees | async).coffees "> -->

<!-- <p *ngIf="!(coffees$ | async)?.length">No coffee list to show...</p>
<ul>
	<li *ngFor="let coffee of (coffees$ | async); let i = index">
	<p>{{coffee.id}}</p>
	<p>{{coffee.blend_name}}</p>
	<hr>
	</li> 
</ul> -->