<br>
<div class="container">
	<div class="row">
		<div class="col-xs-12 table-responsive">
			<div style="overflow-x:auto;">
				<table 
					id="coffee" 
					class="table bg-success table-striped table-dark"
					>
					<thead class="thead-dark">
						<tr class="text-uppercase">
							<th class="text-center">#</th>
							<th class="text-center">id</th>
							<th class="text-center">uid</th>
							<th class="text-center">blend_name</th>
							<th class="text-center">origin</th>
							<th class="text-center">variety</th>
							<th class="text-center">notes</th>
							<th class="text-center">intensifier</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let coffee of (coffees$ | async); let i = index">
							<td class="text-center">{{i+1}}</td>
							<td class="text-center">{{coffee.id}}</td>
							<td>{{coffee.uid}}</td>
							<td>{{coffee.blend_name}}</td>
							<td>{{coffee.origin}}</td>
							<td>{{coffee.variety}}</td>
							<td>{{coffee.notes}}</td>
							<td>{{coffee.intensifier}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<hr>
		</div>
	</div>
</div>