
  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer {
	display: flex;
    flex-flow: column;
    font-size: 20px;
    font-family: initial;
    font-weight: bold;
	align-items: center;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
  }

  td {
	text-align: center;
  }

  th {
	font-size: 32px;
 }