/* You can add global styles to this file, and also import other style files */
footer {
	display: flex;
    flex-flow: column;
    font-size: 20px;
    font-family: initial;
    font-weight: bold;
	align-items: center;
}